<h1>Hello, Welcome!</h1>
<p>
  Taiwanese people believe that ghosts leave the underworld for one month every year. To ensure that these ghosts are happy and do not bother them, Taiwanese people observe certain traditions during “Ghost Month.” This festival takes place in July on the lunar calendar. Ghost Month is a time when families pray for the ghosts of their ancestors. They will also leave food out to feed any “hungry ghosts” that might wander by.
</p>
