<div id="site-copyright">
  ©
  <a href="http://0.0.0.0:3000/">Joy Corn</a>
  2013
</div>

<div id="site-author">
  Powered by
  <a href="http://ummu.tk/">Jin Wang</a>
   •
  <a href="#">Yanyee Liang</a>
</div>