<div id="post-viewer">
  <div id="post-viewer-content">
    <div id="viewer-title">
      <h3>Title</h3>
      <a>like</a>
      <a>dislike</a>
    </div>


  </div>
  <div id="post-viewer-comment">
    <div id="post-viewer-author">
    </div>

    <div id="post-viewer-description">
    </div>

    <div class="viewer-comment-item">
    </div>
    <div class="viewer-comment-item">
    </div>
    <div class="viewer-comment-item">
    </div>

  </div>
</div>