
<!--category need to be specified-->
<% posts = @posts %>
<% posts.each do |post| %>
    <% if post.media_type == "text" %>
        <div id="post-box" class="post format-status
        category-status tag-updates yellow">
    <% elsif post.media_type == "image" %>
        <div id="post-box" class="post format-image
        category-image">
    <% elsif post.media_type == "audio" %>
        <div id="post-box" class="post format-audio
        category-audio tag-music lavender">
    <% else %>
        <div id="post-box" class="post format-video
        category-video tag-video-2 black">
    <% end %>

    <!--post icon-->

      <!--some style parameters have to be inserted-->
            <div class="post-inner clearfix">
                <span class="post-icon"></span>
    <!--/post icon-->

    <!--post image-->
              <% images = get_post_media("image", post.id) %>
              <% images.each do |image| %>
                  <% unless image.nil? %>
                      <% if image.link.include? "http" %>
                        <% image_src = image.link %>
                      <% else %>
                        <% image_src = image_path(image.link) %>
                      <% end %>
                      <p class="post-image">
                        <!--<a href="http://themify.me/demo/themes/wumblr/files/2012/09/86529817.jpg" class="lightview">-->
                        <a href="#post-viewer" class="lightview" >
                           <%= image_tag(image_src, alt: "Lightbox Photo", width: "244") %>
                        </a>

                        <!--<div id="viewer">hello</div>-->
                      </p>
                  <% end %>
              <% end %>
    <!--/post image-->

    <!--post audio-->
              <% audios = get_post_media("audio", post.id) %>
              <% audios.each do |audio| %>
                  <% unless audio.nil? %>
                      <p class="audio-image">
                        <a href="http://themify.me/demo/themes/wumblr/audio/just-a-mp3-song">

                          <img src="http://themify.me/demo/themes/wumblr/wp-content/themes/wumblr/themify/img.php?src=http://themify.me/demo/themes/wumblr/files/2010/12/Katy-Perry-c07-722638.jpg&amp;w=100&amp;h=100&amp;zc=1"
                               alt="Just a MP3 Song" width="100" height="100">
                        </a>
                      </p>

                      <div class="audio-player">
                        <div class="audio_wrap html5audio">
                          <audio controls id="58" class="html5audio">
                            <source src="http://themify.me/demo/themes/wumblr/files/2010/12/katy.mp3"
                                    type="audio/mpeg">
                          </audio>
                        </div>
                      </div>
                  <% end %>
              <% end %>
    <!--/post audio-->

    <!--post video-->
              <% videos = get_post_media("video", post.id) %>
              <% videos.each do |video| %>
                  <% unless video.nil? %>
                      <div class="post-video">
                        <iframe src="http://player.vimeo.com/video/6284199" width="500" height="281"
                                frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen="">

                        </iframe>
                      </div>
                  <% end %>
              <% end %>
    <!--/post video-->

    <!--post content-->
                <div class="post-content">
                  <h1 class="post-title">
                    <a href="#post-viewer" class="lightview">
                      <%= post.title %>
                    </a>
                  </h1>
                  <p>
                  <% texts = get_post_media("text", post.id) %>
                  <% texts.each do |text| %>
                      <% unless text.nil? %>
                        <%= text.content %>
                      <% end %>
                  <% end %>
                  </p>
                </div>
    <!--/post content-->

    <!--post comment-->
                <div class="post-comment">
                  <a href="http://themify.me/demo/themes/wumblr/status/another-status-post#respond"
                     class="comments-link" title="Comment on Another Status Post"><%= post.id %></a>
                </div>
    <!--/post comment-->

    <!--post like-->
    <!--/post like-->

    <!--post meta-->
    <!--/post meta-->

            </div>
        </div>
<% end %>