/*------------------------------------*\
               $CONTENTS
\*------------------------------------*/
/**
 * CONTENTS............You’re reading it!
 * RESET...............Set our reset defaults
 * FONT-FACE...........Import brand font files
 */


body {
  background: asset_url("body-bg.png");
}

.h-align {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.v-align {
  vertical-align: middle;
  margin-top: auto;
  margin-bottom: auto;
}
