#logo {
  position: relative;
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 50px;
//  float: left;
}

#nav-wrap {
  position: relative;
  margin-left: 20px;
  margin-bottom: 20px;
  width: 500px;
  float: left;
}

#search-box {
  position: relative;
  margin-bottom: 20px;
  margin-right: 20px;
  float: right;
}

