#logo {
  position: absolute;
//  left: 400px;
  top: 10px;
  width: 100%;
//  border: solid 2px #000000;
  text-align: center;
}

#nav-wrap {
  position: absolute;
  left: 5px;
  bottom: 5px;
  width: 500px;
//  border: solid 2px red;
}

#search-box {
  position: absolute;
  right: 15px;
  bottom: 13px;
  float: right;
//  border: solid 2px blue;
}

#log-wrap {
  position: absolute;
  right: 10px;
  top: 10px;
}

ul.hmenu {
  list-style: none;
//  margin-left: 10px;
  padding: 0;
}

ul.hmenu li {
  margin-left: 10px;
  display: inline;

}

ul.hmenu li a {
  color: #000000;
}
