.login-form a {
  -webkit-background-clip: border-box;
  -webkit-background-origin: padding-box;
  -webkit-background-size: auto;
  -webkit-transition-delay: 0s;
  -webkit-transition-duration: 0.25s;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease;
  background-attachment: scroll;
  background-clip: border-box;
  background-color: rgba(0, 0, 0, 0);
  background-image: none;
  background-origin: padding-box;
  background-size: auto;
  box-sizing: border-box;
  color: rgb(191, 201, 202);
//  display: block;
  font-family: qarmic, Helvetica, Arial, sans-serif;
  font-size: 12px;
  height: 10px;
  line-height: 10px;
  margin-top: 15px;
  text-align: center;
  text-decoration: none;
  transition-delay: 0s;
  transition-duration: 0.25s;
  transition-property: all;
  transition-timing-function: ease;
  width: 313px;
}