#navBar{
  list-style-type: none;
}

.nav {
  width: 100px;
  height: 40px ;
  float: left;
  font-size: 18px;
  font-weight: bolder;
  font-family: 'canterbold',Helvetica, Arial, sans-serif;
  text-align: center;
  margin: 5px 10px;
}

.nav a{
  display: block;
  text-decoration: none;
  color: #e4ebcc;;
  padding: 8px;
  text-shadow:0 1px 1px rgba(55, 51, 58, 0.5);
}

.nav-current{
  background: rgba(92, 92, 92, 0.31);
  width: 100px;
  height: 32px;
  border-radius: 16px;
//  box-shadow: 0 1px 1px rgba(55, 51, 58, 0.5);
}
