

#navBar{
  list-style-type: none;
}

.nav {
  width: 100px;
  height: 40px ;
  float: left;
  font-size: 14px;
  text-align: center;
  margin: 5px 10px;
}

.nav a{
  display: block;
  text-decoration: none;
  margin: 12px;
  text-shadow:0 1px 1px rgba(55, 51, 58, 0.5);

}

.nav-current{
  background:#CCCCCC;

}
