#post-viewer{
  //  display: none;
  position: absolute;
  height: 100%;
  //  height: 500px;
  width: 100%;
  margin: 0;
  padding: 0;
  bottom: 0;
  top: 0;
  right: 0;
  left: 0;
//  background: #000000;
//  border: solid 0.5px red;

  //  overflow: hidden;
}

/*-------viewer left side begin-----------*/
#post-viewer-left{
  position: absolute;
  left: 0;
  top: 0;
//  background-color: #000000;
  height: 100%;
  width: 70%;
  display: table;
  margin: 0;
  padding: 0;
}
/*-----------viewer title------------*/
#post-viewer-left #viewer-title{
  width: 100%;
  background: rgba(65, 35, 35, 0.2);
  z-index: 10000;
  padding: 0;
  margin: 0px;
  height: auto;
//  display: table-caption;
//  border: solid 2px green;
}

#viewer-title h2{
  float: left;
  width: 100%;
  padding: 0;
  margin: 0;
  font-size: 36px;
  color: #7b5134;
}

#viewer-title a{
  float: right;
  margin: 0 8px;
  font-size: 12px;
  color: #fffffe;
}

/*-------------viewer content--------------*/
#post-viewer-left #post-viewer-content {

//  border: solid 0.5px yellow;
  height: 100%;
  position: relative;
  right: 0;
  left: 0;
  width: 100%;
  display: table;

//  padding-top: 10px;
  //padding-bottom: 10px;

}

#post-viewer-content .format-text {
  background: asset_data_url("Wood.jpg") repeat;
//  margin-left: -15px;
  position: relative;
  height: 100%;
  min-width: 100%;
  max-width: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: table;
//  border: solid 2px red;
//  line-height: 500px;
}

#post-viewer-content .format-image {
//  border: solid 2px #ffffff;
  position: absolute;

  max-height: 100%;
  max-width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  line-height: 500px; // only works for image
}

.viewer-text-format{

  display: table-cell;
  vertical-align: middle;

  font-size: 28px;
  color: #4e3624;
  text-align: left;
  padding-left: 10px;
  max-width: 100%;
  
}

#post-viewer-content .format-image img{
  //  position: absolute;
  //  height: 100%;
//  line-height: 100%;
  position: relative;
  max-width: 95%;
  padding-bottom: 10px;
  padding-top: 10px;
  vertical-align: middle;
  //  max-height: 100%;
  //  resize: vertical;
//  overflow: scroll;
}

#post-viewer-content .format-audio audio {
  max-height: 100%;
  max-width: 100%;
}

/*------------viewer left side end-----------*/

/*------------viewer right side begin-----------*/
#post-viewer-right{
  float: right;
  background-color: #ffffff;
  height: 98%;
  width: 28%;
  margin: 0;
  padding: 1%;
}

/*--------------posts author----------------*/
#post-viewer-author{
  width: 100%;
  height: 60px;
//  background: #f08080;
  margin-bottom: 10px;
}

.post-author-pic{
  float: left;
  width: 60px !important;
  height: 60px !important;
}
.post-author-info{
  float:left;
  width: 60%;
  height: 80%;
  margin-left: 10px;
  padding: 5px 0;
//  border: 1px solid firebrick;
}

.post-author-name{
  font-size: 16px;
  font-weight: bolder;
  color: #916438;
}

.post-date{
  font-size: 14px;
}

//#posts-viewer-description{
//  width: 100%;
//  min-height: 80px;
//  background: #ffa07a;
//  margin-bottom: 20px;
//}

/*--------------posts tags----------------*/
#post-tags{
  width: 100%;
  min-height: 20px;
  color: #916438;
  font-size: 14px;
  font-style: italic;
//  background: #ffa07a;
  margin-bottom: 10px;
  padding: 10px;
  clear: both;
}

/*---------------posts comment---------------*/
.viewer-comment-item{
  width: 92%;
  min-height: 40px;
  background: #fdf2d4;
  padding: 3%;
  overflow: auto;
  border-top: 1px solid #ffffff;
}

.user-comment-pic{
  float: left;
  width: 40px;
  height: 40px;
}
.viewer-comment-content{
  float: left;
  height: 100%;
  width: 80%;
  margin-left: 8px;
//  border: 1px solid royalblue;
}

.comment-author{
  float: left;
  font-size:14px;
  font-weight: bolder;
  color: #916438;
  margin: 0;
  padding: 0;
}

.comment-text{
  float: left;
  font-size:14px;
  width: 100%;
  word-break: break-all;
  margin: 0;
  padding: 0;
//  border: 1px solid greenyellow;
}

.comment-post-date{
  font-size: 12px;
  font-style: italic;
  color: #919191;
  clear: both;
}

.viewer-add-comment{
  width: 92%;
  min-height: 40px;
  background: #fdf2d4;
  padding: 3%;
  overflow: auto;
}

#add-comment{
  width: 170px;
  height: 16px;
  margin: 8px;
  border-radius: 0px;
  background-color: #ffffff;

//  border: 1px solid #68442c;
}
/*----------  ---viewer right side end-----------*/


