/************************************************************************************
POST VIDEO (css for fluid video)
*************************************************************************************/
.post-video,
.embed-youtube {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
  font-size: .9em;
  margin-bottom: 15px;
}

.post-video iframe,
.post-video object,
.post-video embed,
.embed-youtube iframe,
.embed-youtube object,
.embed-youtube embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/************************************************************************************
MASONRY
*************************************************************************************/
.grid3 .loops-wrapper,
.grid2 .loops-wrapper {
  width: 948px;
  margin-left: -30px;
}

.sidebar1.grid3 .loops-wrapper,
.sidebar1.grid2 .loops-wrapper {
  width: 660px;
}

/* masonry-col3
---------------------------------------------------------- */
//.grid3 .posts {
//  width: 284px;
//  font-size: 90%;
//  margin-left: 15px;
////  float: left;
//}

/* sidebar1 grid3 posts wrap */
.sidebar1.grid3 .post {
  width: 188px;
}

/* masonry-col3 text posts */
.grid3 .format-standard .post-inner {
  background: asset_data_url("note-bg.png") -160px 14px;
  padding-left: 30px;
}

.grid3 .format-standard .post-icon {
  display: none;
}

/* masonry-col3 audio posts */
.grid3 .format-audio .post-content {
  overflow: visible;
  clear: both;
}

.grid3 .format-audio .audio-image img {
  float: none;
  margin: 0;
}

/* masonry-col3 gallery posts */
#body .grid3 .format-gallery .post-title {
  padding-left: 40px;
}

#body .grid3 .format-gallery .gallery {
  margin: 15px 0 0;
}

#body .grid3 .format-gallery .gallery dl {
  margin: 0 5px 10px;
}

#body .grid3 .format-gallery .gallery img {
  width: 40px;
  height: 40px;
}

/* masonry-col3 quote posts */
.grid3 .format-quote .post-inner {
  background: asset_data_url("note-bg.png") -190px 16px;
  padding-left: 43px;
}

.grid3 .format-quote .post-icon {
  background: asset_data_url("quote-icon-small.png") no-repeat;
  width: 20px;
  height: 15px;
  left: 15px;
  top: 15px;
}

/* masonry-col3 link posts */
.grid3 .format-link .post-inner {
  padding-left: 45px;
}

.grid3 .format-link .post-icon {
  background: asset_data_url("link-icon-small.png") no-repeat;
  width: 20px;
  height: 20px;
  position: absolute;
  left: 15px;
  top: 15px;
}

/* masonry-col2
------------------------------------------- */
.grid2 .post {
  width: 442px;
  margin-left: 30px;
  float: left;
}

/* sidebar1 grid2 posts wrap */
.sidebar1.grid2 .post {
  width: 298px;
}

/* masonry-col2 gallery posts */
#body .grid2 .format-gallery .gallery dl {
  margin: 0 8px 10px;
}
