.comments#comments {
  position: relative;
  width: auto;
  max-height: 80%;
  bottom: 0;
  padding: 0.5%;
  padding-bottom: 10px;
//  border: solid red 2px;
}

.comments_tree {
  overflow: scroll;
  max-height: 350px;
  margin-bottom: 10px !important;
}

.new_comment {
  position: relative;
//  max-height: ;
//  bottom: 1%;
  padding-top: 0;
  padding-bottom: 0;
}

.comments form {
//  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.userbar .comment-time {
  float: right;
  font-size: 10px;
  color: rgba(141, 141, 141, 0.9);
  margin-top: 3px;
}