#searchform #keyword {
  font: italic 14px/100% "Times New Roman", Times, serif;
  padding-left: 10px;
  width: 120px;
  float: right;
  -webkit-transition: .7s;
  -moz-transition: .7s;
  -ms-transition: .7s;
  -o-transition: .7s;
  transition: .7s;
}

#searchform {
  display: block !important;
}

#searchform {
//  position: absolute;
  bottom: 7px;
  right: 0;
  width: 120px;
}

form, div {
  margin: 0;
  padding: 0;
}

input[type=text] {
  width: 240px;
  max-width: 90%;
  border: none;
  padding: 5px 7px;
  background: #e2e2de;
  color: #666;
  border-radius: 12px;
  box-shadow: 0 -1px 0 rgba(0,0,0,.2), 0 1px 0 rgba(255,255,255,.4);
  -webkit-appearance: none;

}

input {
  font-size: 100%;
  font-family: inherit;
}

input:focus {
  outline: 0;
}