

.sidebarUl{
  list-style-type: none;
  padding: 0px;
  margin: 0;
}

h4{
  margin: 0 10px;
  padding: 10px 0;
}

h4 a{
  text-decoration: none;
  color: #222333;
}
#topics{
  display: none;
}

#types{
  display: none;
}

#popTags{
  display: none;
}

#postTime{
  display: none;
}

.sideButton{
  font-size: 11px;
  margin: 0 10px;
  padding: 10px 0;
  border-bottom: solid 1px gainsboro;
}

.sideButton a{
  text-decoration: none;
  color: #730E15;
}

.sideButton a:hover{
  text-decoration: underline;
}

.hotTime{
  display: inline;
  line-height: 25px;
  font-size: 10px;
}

.hotTime a{
  text-decoration: none;
  color: #222333;
  padding: 2px;
}

.hotTime a.tabactive {
  color: #EFEFEF;
  background-color: #2E2F30;
  font-weight:bold;
  position:relative;
}