
.sidebarUl{
  list-style-type: none;
  padding: 0px;
  margin: 0;

}

.sidebarRk {
  list-style-type: none;
  padding: 0px;
  margin: 0;
}

.sidebar-classification h4{
  margin: 0 ;
  padding: 10px;
  font-family: 'canterbold',Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-size: 24px;
  text-align: center;
  background-color: #624737;
  border-radius: 4px;
  border-bottom: 1px solid #4e3624;
  border-right: 1px solid #4e3624 ;
  margin-bottom: 10px;
  box-shadow: 1px 1px 5px rgba(55, 51, 58, 0.2);
}

.sidebar-classification h4 a{
  text-decoration: none;
  color: #fef4e7;
}

.sidebar-c-icon{
  float: left;
  width: 24px;
  margin: 0;
  padding: 0;
}

#topics{
  display: none;
}

#types{
  display: none;
}

#postTime{
  display: none;
}

#popTags{
//  display: none;
  list-style-type: none;
  padding: 0 0 10px 0;
  margin: 0;

}

#popTags li{
  display: inline-block;
  margin: 3px;
}

#popTags a{
  text-decoration: none;
  font-size: 16px;
  font-family: 'canterbold',Helvetica, Arial, sans-serif;
  color: #7b5134;
  padding: 4px 4px;
  background-color: #fdf2d4;
  border-radius: 4px;
}

#popTags a:hover{
  background-color: #fedab2;
}

.sideButton{
  font-size: 20px;
  font-family: 'canterbold',Helvetica, Arial, sans-serif;
  margin: 0 10px;
  padding: 10px 0;
}

.sideButton a{
  text-decoration: none;
  color: #730E15;
}

.sideButton a:hover{
  text-decoration: underline;

}

.hotTime{
  display: inline;
  line-height: 26px;
  font-size: 18px;
  font-family: 'canterbold',Helvetica, Arial, sans-serif;
  font-weight: bolder;
}

.sidebar-rank h4{
  font-size: 30px;
  font-weight: normal;
  font-family: 'canterbold',Helvetica, Arial, sans-serif;

}

.hotTime a{
  text-decoration: none;
  font-weight:bold;
  color: #222333;
  padding: 2px;
}

.hotTime a.tabactive {
  color: #EFEFEF;
  background-color: #2E2F30;
  border-radius: 3px;
  font-weight:bold;
  position:relative;
}

.tabcontent{
  font-size: 18px;
  font-family: 'canterbold',Helvetica, Arial, sans-serif;
  margin: 0 10px;
}

#tabcontent1{
  display: block;
}

#tabcontent2{
  display: none;
}

#tabcontent3{
  display: none;
}