// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/


* {
  margin: 0;
}

p{
  font-family: 'qarmic';
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
//  border: solid 2px;
}

#pagewrap {
  position: relative;
  width: 80%;
  margin: 0;
  padding: 0;
  left: 10%;
  right: 10%;
//  min-height: 100%;
//  border: solid 2px;
}


#header {
  background: url(asset_path("header_bg.png")) repeat;
  position: relative;
  height: 180px;
  width: 100%;
  margin-top: 1%;
//  margin-bottom: 10px;
//  border: solid 2px yellow;
}

#notification {
  width: 100%;
//  border: solid 2px yellow;

}

#notification .notice {
  width: 100%;
  text-align: center;
}

#notification .alert {
  width: 100%;
  text-align: center;
}

#main-panel {
//  position: ;
  float: left;
  top: 220px;
  left: 0;
  width: 100%;
//  min-height: 100%;
  margin-top: 1%;
//  border: solid 2px #ff912f;
//  float: left;
//  clear: both;
}

#sidebar-wrap.sticky {
  float: none;
  position: fixed;
//  top: 20px !important;
  margin: 0;
  z-index: 6;
  left: 10% !important;
  width: 16% !important;
  //  width: 20%;
}

.sidebar-classification{
//  background-color: #FFFFFE ;
//  box-shadow: 1px 1px 5px rgba(55, 51, 58, 0.2);
  border-radius: 6px;
  margin: 0 0px 30px 0;
//  border: solid 2px red;
}

.sidebar-rank{
//  background-color: #FFFFFE ;
//  box-shadow: 1px 1px 5px rgba(55, 51, 58, 0.2);
  border-radius: 6px;
  margin: 0 0px 30px 0;
//  max-width: 100%;
}

#main-panel #sidebar-wrap{
//  position: absolute;
  float: left;
  left: 1%;
//  top: 1%;
  width: 20%;
//  border: solid 2px green;
}

#container  {
//  position: absolute;
//  right: 1%;
//  margin-left: 1%;
  top: 1%;
  float: right;
//  left: 245px;
//  min-height: 100%;
//  max-width: 100%;
//  height: auto;

  width: 79%;
  height: auto;
}

#post-panel {
//  -webkit-column-count: 4;
//  -moz-column-count: 4;
//  column-count: 4;
//  height: 1000px;
//  border: solid 2px #000000;
//  clear: both;
  width: 100%;
//  min-height: 80%;
//  position: absolute;
  float: left;
}

.page-nav {
//  float: left;
  bottom: 0px;
  position: absolute;
  width: 100%;
//  min-height: 100px;
  display: none;
//  border: solid 2px #000000;
}


#footer {
//  clear: both;
//  position: absolute;
  float: left;
//  padding-top: 30px;
//  left: 20px;
//  float: left;
//  top: 0;
//  bottom: 0;
  left: 0;
  right: 0;
//  bottom: 0;
  min-width: 80%;
  max-width: 100%;
//  min-height: 100%;
  padding-left: 10%;
  padding-right: 10%;

//  margin-top: 2000px;
//  border: solid 2px #000000;
//  padding-top: 50px;
}

#infscr-loading {
  position: absolute;
  bottom: 0px;
//  right: 1px;
//  left: 48%;
  width: 100%;
}
