// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
* {
  margin: 0;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
//  border: solid 2px;
}

#pagewrap {
  position: relative;
  width: 80%;
//  min-height: 1500px;
//  min-height: 100%;
//  height: auto !important;
//  height: 100%;
//  margin: 0 auto -4em;
//  top: 0px;
//  bottom: 0px;
  margin: 0;
  padding: 0;
  left: 10%;
  right: 10%;
//  border: solid 2px;
}


#header {
  background: url("header_bg.png") repeat;
  position: relative;
  height: 180px;
  width: 100%;
  margin-top: 1%;
//  border: solid 2px yellow;
}

#main-panel {
<<<<<<< Updated upstream
//  position: ;
  float: left;
  top: 180px;
  left: 0;
  width: 100%;
//  min-height: 100%;
  margin-top: 2%;
//  border: solid 2px #ff912f;
//  float: left;
//  clear: both;
}


=======
  position: absolute;
  top: 220px;
  left: 0;
  width: 100%;
  min-height: 100%;
//  border: solid 1px yellow;
}

//#floatbox{
//  float: left;
//  position: relative;
//  width: 240px;
//}

#sidebar-wrap{
//  position: fixed;
//  left: 70px;
//  top: 210px;
  width: 220px;
}
>>>>>>> Stashed changes

//.div1{
//  width: 240px;
//}
//.div2{
//  position: fixed;
//  _position:absolute;
//  top:0;
//  z-index:250;
//}

.sidebar-classification{
  background-color: #FFFFFE ;
  box-shadow: 1px 1px 5px rgba(55, 51, 58, 0.2);
  border-radius: 6px;
  margin: 0 0px 30px 0;
//  border: solid 2px red;
}

.sidebar-rank{
  background-color: #FFFFFE ;
  box-shadow: 1px 1px 5px rgba(55, 51, 58, 0.2);
  border-radius: 6px;
  margin: 0 0px 30px 0;
}

#main-panel #sidebar-wrap{
//  position: absolute;
  float: left;
  left: 1%;
  top: 1%;
  width: 20%;
//  border: solid 2px green;
}

#container  {
<<<<<<< Updated upstream
//  position: absolute;
//  right: 1%;
//  margin-left: 1%;
  top: 1%;
  float: left;
//  left: 245px;
//  min-height: 100%;
//  max-width: 100%;
//  height: auto;

  width: 79%;
//  right: 0;
//  border: solid 2px red;
=======
  position: absolute;
  left: 245px;
  min-height: 100%;
  height: auto;
  border: solid 2px red;
>>>>>>> Stashed changes
}

#post-panel {
//  -webkit-column-count: 4;
//  -moz-column-count: 4;
//  column-count: 4;
//  height: 1000px;
//  border: solid 2px #000000;
//  clear: both;
<<<<<<< Updated upstream
  width: 100%;
//  position: absolute;
  float: left;
=======
  width: 950px;
  position: absolute;
>>>>>>> Stashed changes
//  -webkit-column-width:250px;
//  -moz-column-width:250px;
//  -o-colum-width:250px;
//  -webkit-column-gap:10px;
//  -moz-column-gap:10px;
//  -o-column-gap:10px;
//  width:940px;
  border: 1px solid #000000;
}

.page-nav {
//  float: left;
  bottom: 0px;
  position: absolute;
  width: 100%;
//  min-height: 100px;
  display: none;
//  border: solid 2px #000000;
}


#footer {
//  clear: both;
//  position: absolute;
  float: left;
//  padding-top: 30px;
//  left: 20px;
//  float: left;
//  bottom: 0;
  left: 0;
  right: 0;
  min-width: 80%;
  max-width: 100%;
  padding-left: 10%;
  padding-right: 10%;

  //margin-top: 200px;
//  border: solid 2px #000000;
//  padding-top: 50px;
}

#infscr-loading {
  position: absolute;
  bottom: 0px;
//  right: 1px;
//  left: 48%;
  width: 100%;
}
