<footer class="footer">
  <small>
    <a href="http://0.0.0.0:3000/">Joy Corn</a>
    by Jin
  </small>
  <nav>
    <ul>
      <li><%= link_to "Help", '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
      <li><a href="http://ummu.tk/">My Story</a></li>
    </ul>
  </nav>
</footer>