<div id="head">
  <h1>Joy Corn</h1>

  <div id="nav">
    <div class="nav">
      <a>Home</a>
    </div>
    <div class="nav">
      <a>Help</a>
    </div>
    <div class="nav">
      <form name="search">
        <input type="text" name="searchContext"/>
        <input type="submit" value="submit"/>
      </form>
    </div>
  </div>

</div>