  <div id="logo">
    <%= render 'shared/logo' %>
  </div>


  <div id="navbar">
    <div class="navbar1">
      <a>Home</a>
    </div>
    <div class="navbar2">
      <a>Help</a>
    </div>
  </div>

  <div id="search-box">
    <%= render 'shared/search' %>
  </div>