  <div id="logo">
    <%= render 'shared/logo' %>
  </div>



  <div id="nav-wrap">
    <ul id="navBar">
      <li class="nav nav-current">
          <!--<a href= "#" onclick="reloadPage()">HOME-->
          <!--</a>-->
        <!--<a href="#" onclick="home_button()">HOME</a>-->
         <%= link_to "HOME", root_url %>
      </li>
      <li class="nav" >
         <%= link_to "HELP", static_pages_help_url %>
      </li>
    </ul>
  </div>

  <div id="search-box">
    <%= render 'shared/search' %>
  </div>
