  <div id="logo">
    <%= render 'shared/logo' %>
  </div>



  <div id="nav-wrap">
    <ul id="navBar">
      <li class="nav nav-current">
          <a href="#">HOME</a>
      </li>
      <li class="nav" >
          <a href="#">HELP</a>
      </li>
    </ul>
  </div>

  <div id="search-box">
    <%= render 'shared/search' %>
  </div>
