
<h4><a href="javascript:showMenu('topics')">TOPICS</a></h4>
<ul class="sidebarUl" id="topics">
  <li class="sideButton">
    <a href="#">TOPICS</a>
  </li>
  <li class="sideButton">
    <a href="#">POSTING TIME</a>
  </li>
  <li class="sideButton">
    <a href="#">TYPES</a>
  </li>
  <li class="sideButton">
    <a href="#">POPULAR TAGS</a>
  </li>
</ul>

<h4><a href="javascript:showMenu('types')">TYPES</a></h4>
<ul class="sidebarUl" id="types">
  <li class="sideButton">
    <a href="#">text</a>
  </li>
  <li class="sideButton">
    <a href="#">image</a>
  </li>
  <li class="sideButton">
    <a href="#">video</a>
  </li>
  <li class="sideButton">
    <a href="#">audio</a>
  </li>
</ul>

<h4><a href="javascript:showMenu('popTags')">POPULAR TAGS</a></h4>
<ul class="sidebarUl" id="popTags">
  <li class="sideButton">
    <a href="#">funny</a>
  </li>
  <li class="sideButton">
    <a href="#">stupid</a>
  </li>
  <li class="sideButton">
    <a href="#">miao</a>
  </li>
  <li class="sideButton">
    <a href="#">dog</a>
  </li>
</ul>

<h4><a href="javascript:showMenu('postTime')">POSTING TIME</a></h4>
<ul class="sidebarUl" id="postTime">
  <li class="sideButton">
    <a href="#">December 2013</a>
  </li>
  <li class="sideButton">
    <a href="#">November 2013</a>
  </li>
  <li class="sideButton">
    <a href="#">October 2013</a>
  </li>
</ul>