
<ul class="sidebarUl" id="hottest">
  <h4>Hottest</h4>
<li class="hotTime">
  <a href="#" onmouseover="easytabs('1', '1');" onfocus="easytabs('1', '1');" onclick="return false;"  title="" id="tablink1">Today</a>
</li>
<li class="hotTime">
  <a href="#" onmouseover="easytabs('1', '2');" onfocus="easytabs('1', '2');" onclick="return false;"  title="" id="tablink2">This Week</a>
</li>
<li class="hotTime">
  <a href="#" onmouseover="easytabs('1', '3');" onfocus="easytabs('1', '3');" onclick="return false;"  title="" id="tablink3">This Month</a>
</li>
</ul>

<div id="tabcontent1">Tabcontent 1</div>

<div id="tabcontent2">Tabcontent 2</div>

<div id="tabcontent3">Tabcontent 3</div>
